*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}
.container {
    background-color: aqua;
    gap: 30px;
    padding: 30px;
    height: 80vh;
    width: 80vw;
    text-align: center;
    font-size: 30px;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(3, 1fr);
     grid-template-areas: 
    'header header header'
    'menu menu menu'
    'box1 box2 sidebar'
    'content content sidebar'
    'content content sidebar'
    'footer footer footer';
    
    
}
.container1 {
    grid-area: header;
    background-color: aliceblue;
    font-style: italic;
    
}
.container2{
    grid-area: menu;
    background-color: burlywood;

}
.container3{
    grid-area: box1;
    background-color: yellow;
}
.container4{
    grid-area: box2;
    background-color: tomato;
}
.container5{
    grid-area: content;
    background-color: seagreen;
}
.container6{
    grid-area: sidebar;
    background-color: cornflowerblue;
}
.container7{
    grid-area: footer;
    background-color: lawngreen;
}


